html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --heading-size: 60px;
  --body-size: 20px;
  --logo-size: 40px;
  --color-white-main: #f0f0f0;
  --color-white-link: #fff;
  --color-black-main: #111111;
  --color-black-banner: #0f0f0f;
  --color-red-link: #ce181e;
}

h1,
h2 {
  font: bold var(--heading-size) 'Rajdhani', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Rajdhani', sans-serif;
}

::-moz-selection {
  background: #bc1d03;
  color: var(--color-black-main);
}

::selection {
  background: #bc1d03;
  color: var(--color-black-main);
}

body {
  font: var(--body-size) 'Roboto Condensed', sans-serif;
  color: var(--color-white-main);
  background-color: var(--color-black-main);
  line-height: 1.5;
}

nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-banner);
  height: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
}

.nav-logo {
  white-space: nowrap;
  margin: 0 auto 0 0;
}

.nav-logo__content {
  font-size: var(--logo-size);
  margin: 0 0 0 25px; /* Match margin-right of .nav-links__link */
}

.nav-links,
.footer-links,
.contact-info {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-links {
  margin: 0 0 0 auto;
}

.footer-links {
  margin: 0 auto;
}

.contact-info {
  margin: 80px auto 0;
  text-align: center;
  width: 50%;
}

.nav-links__link,
.footer-links__link {
  margin: 10.575px 25px; /* Add top-bottom margins to expand the click region */
}

.contact-info__link {
  flex: 1;
}

.contact-info__link__img {
  max-width: 60px;
  max-height: 60px;
  transition: all .15s ease-in-out;
}

.contact-info__link__img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all .15s ease-in-out;
}

a, /* Includes .nav-logo__content */
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-white-link);
  transition: transform .15s ease-in-out;
}

a:not(.no-hover-style):hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: var(--color-red-link);
  transition: transform .15s ease-in-out;
}

header {
  position: relative;
  min-height: 100vh; /* Stretch section to entire viewport */
  padding: 15% 0;
  background: url(images/deus-ex.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}

section {
  min-height: 100vh; /* Stretch section to entire viewport */
  padding: 60px 0 60px; /* Match to height of nav and footer */
}

.content-block {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px;
}

.emphasis {
  color: var(--color-red-link);
}

.image-credit {
  position: absolute;
  right: 10px;
  bottom: -5px;
  font-size: 10px;
}

.profile-pic {
  max-width: 188.33px;
  max-height: 218.66px;
  margin-right: 80px;
  float: left;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1px 10px 40px; /* Match padding-bottom to project__desc */
  background-color: #151515;
  display: flex;
  flex-direction: column;
}

.project__name {
  text-align: center;
}

.project__img {
  max-width: 90%;
  border: 3px solid black;
  display: block;
  margin: 0 auto;
}

.project__tech-stack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5vw;
  font-style: italic;
  text-align: center;
}

.project__tech-stack__tool {
  margin: 0 2vw;
  flex: 1;
}

.project__desc {
  margin: 0 auto 40px;
}

.project__links {
  display: flex;
  justify-content: center;
}

.project__links__button,
.project__links__button:visited,
.project__links__button:active {
  background-color: var(--color-white-main);
  color: var(--color-black-main);
  padding: .5em 0;
  margin: 0 20px;
  width: 200px;
  text-align: center;
  transition: transform .15s ease-in-out;
}

.project__links__button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: var(--color-red-link);
  transition: transform .15s ease-in-out;
}

/* No motion sickness */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* iPad Pro */
@media screen and (max-width: 1025px) {
  /* Align hero text to center of mobile screens */
  header {
    padding: 50% 0;
  }
  
  /* Stack elements on mobile screens (i.e. no text wrapping around profile pic) */
  .content-block {
    display: flex;
    flex-direction: column;
    max-width: 720px; /* Easier viewing on iPad Pro */
  }

  .contact-info {
    margin: 40px auto 0;
    width: 100%;
  }

  .profile-pic {
    margin: 0 auto 20px;
  }
}

/* iPad */
@media screen and (max-width: 769px) {

}

/* iPhone Plus, Pixel 2 */
@media screen and (max-width: 415px) {
  /* 'About' and 'Projects' don't need noticeable in-between spacing on smaller screens */
  .nav-links {
    margin: 0 12.5px 0 auto;
  }

  .nav-links__link {
    margin: 10.575px 12.5px;
  }
}

/* iPhone 6/7/8/X, Galaxy S5 */
@media screen and (max-width: 376px) {
  :root {
    --heading-size: 48px;
    --body-size: 16px;
    --logo-size: 32px;
  }
}

/* iPhone 5/SE */
@media screen and (max-width: 321px) {
  .content-block {
    padding: 10px;
  }
}