/****************************************

  CSS Reset

*****************************************/
/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Set core body defaults */
body {
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles and padding on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/****************************************

  Base selectors

*****************************************/
/* Global variables for ease of consistency */
:root {
  --heading-size: 48px;
  --logo-size: 32px;
  --body-size: 16px;
  --color-white-main: #f0f0f0;
  --color-white-link: #fff;
  --color-black-main: #1a1a1a;
  --color-black-card: #151515;
  --color-black-banner: #0f0f0f;
  --color-red-link: #ce181e;
}

h1,
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: var(--heading-size);
  font-weight: bold;
}

h3,
.project__tech-stack__tool {
  font-family: 'Rajdhani', sans-serif;
}

h3 {
  font-size: 2rem;
  color: var(--color-red-link);
}

::-moz-selection {
  background: #bc1d03;
  color: var(--color-black-main);
}

::selection {
  background: #bc1d03;
  color: var(--color-black-main);
}

/* Includes .nav-logo__content */
a {
  text-decoration: none;
  color: var(--color-white-link);
  transition: transform 0.15s ease-in-out;
}

a:not(.no-hover-style):hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: var(--color-red-link);
  transition: transform 0.15s ease-in-out;
}

body {
  min-height: 100vh; /* Stretch to entire viewport */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--body-size);
  color: var(--color-white-main);
  background-color: var(--color-black-main);
}

header {
  min-height: 100vh; /* Stretch to entire viewport */
  position: relative;
  padding: 15% 0;
}

section {
  min-height: 100vh; /* Stretch to entire viewport */
  padding: 60px 0 60px; /* Match to height of nav and footer */
  background-color: var(--color-black-main);
}

/* This is a high-level container */
.content-block {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--color-black-banner);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49),
    0 -4px 8px 0 rgba(0, 0, 0, 0.5), 0 -6px 20px 0 rgba(0, 0, 0, 0.49);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/****************************************

  Nav, Footer, Contact Info

*****************************************/
.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
}

.nav-logo {
  white-space: nowrap;
  margin: 0 auto 0 0;
}

.nav-logo__content {
  font: bold var(--logo-size) 'Rajdhani', sans-serif;
  margin: 0 0 0 25px; /* Match margin-right of .nav-links__link */
}

.nav-links,
.footer-links,
.contact-info {
  display: flex;
}

.nav-links {
  margin: 0 12.5px 0 auto;
}

.footer-links {
  margin: 0 auto;
}

.contact-info {
  margin: 40px auto 0;
  width: 100%;
}

.nav-links__link {
  display: inline-block;
  margin: 0;
  padding: 10.575px 12.5px; /* Add top-bottom margins to expand the click region */
}

.nav-links__link:active,
.nav-links__link:focus {
  text-decoration: underline;
}

.footer-links__link {
  display: inline-block;
  margin: 0;
  padding: 10.575px 25px; /* Add top-bottom margins to expand the click region */
}

.contact-info__link {
  margin: 0 auto;
}

.contact-info__link__icon {
  transition: transform 0.15s ease-in-out;
}

.contact-info__link__icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.15s ease-in-out;
}

/****************************************

  Header/Hero Section

*****************************************/
.fixed-top {
  position: absolute;
  z-index: -10;
  min-height: 100vh;
  min-width: 100%;
  background: url(images/deus-ex.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
}

.down-arrow {
  position: absolute;
  left: 50%;
  margin-left: -2rem; /* half of child element width */
  bottom: 5rem;
}

.down-arrow > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
}

.image-credit {
  position: absolute;
  right: 10px;
  bottom: -5px;
  font-size: 10px;
}

.profile-pic {
  max-height: 324px;
  margin: -20px auto 20px;
}

/****************************************

  Projects Section

*****************************************/
.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  padding: 1px 10px 40px; /* Match padding-bottom to project__desc */
  background-color: var(--color-black-card);
  display: flex;
  flex-direction: column;
}

.project + .project {
  margin-top: 3.75rem;
}

.project__name {
  margin: 1rem 0 0;
}

.project__img {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.project__img__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.25s ease;
  background-color: var(--color-black-main);
}

.project__img:hover .project__img__overlay {
  opacity: 0.8;
}

.project__img__overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project__tech-stack {
  list-style: none;
  display: block;
  padding: 0 5vw;
  position: relative;
}

.project__tech-stack__tool {
  display: inline-block;
  margin: 0 0.5vw;
}

.project__separator {
  margin: 0 auto 1em; /* Match bottom-margin to project__tech-stack */
  border-bottom: 1px solid white;
  width: 30%;
}

.project__desc {
  margin: 0 auto 40px;
}

.project__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__links__button {
  background-color: var(--color-white-main);
  color: var(--color-black-main);
  padding: 0.5em 0;
  margin: 8px 20px;
  width: 200px;
  transition: transform 0.15s ease-in-out;
}

.project__links__button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: var(--color-red-link);
  transition: transform 0.15s ease-in-out;
}

/****************************************

  Utility

*****************************************/
.hidden {
  display: none;
}

.emphasis {
  color: var(--color-red-link);
}

.text-center {
  text-align: center;
}

/****************************************

  PROGRESSIVE ENHANCEMENT Media Queries

*****************************************/
@media screen and (min-width: 321px) {
  .content-block {
    padding: 0 20px;
  }
}

@media screen and (min-width: 376px) {
  :root {
    --heading-size: 60px;
    --logo-size: 40px;
    --body-size: 20px;
  }
}

/************************************************************************
  Increase the spacing between 'About' and 'Projects' on larger screens
*************************************************************************/
@media screen and (min-width: 415px) {
  .nav-links {
    margin: 0 0 0 auto;
  }

  .nav-links__link {
    padding: 10.575px 25px;
  }
}

/************************************************************************
  Unstack project buttons on wider screens
*************************************************************************/
@media screen and (min-width: 720px) {
  .project__links {
    flex-direction: row;
  }
}

/***************************************************************************
  Text can wrap around profile pic on larger screens. Contact icons should
  also be contained within a limited width.
****************************************************************************/
@media screen and (min-width: 1025px) {
  .content-block {
    display: block;
    max-width: 1024px;
  }

  .contact-info {
    margin: 80px 0 0 -70px;
    width: 50%;
    float: left;
  }

  .profile-pic {
    margin-right: 40px;
    float: left;
  }
}

/****************************************

  Fixes for Hero on specific screens

*****************************************/
@media screen and (orientation: landscape) and (max-height: 500px) {
  .hero > h1 {
    margin-bottom: 0;
  }

  .down-arrow {
    bottom: 0;
  }
}
